/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #EEEEEE;
  --basic-neutral: #F2F2F2;
  --basic-hover-neutral: #EBEBEB;
  --basic-active-border: #E5E5E5;
  --basic-white: #ffffff;
  --footer-fill: rgba(255, 255, 255, 0.9);

  --special-extra-dark: #A9A9A9;
  --special-rating-text: #666666;
  --special-active-black: rgba(0,0,0,0.3);
  --special-state-gray: #cacaca;
  --special-active-white: rgba(255, 255, 255, 0.3);
  --special-blue: #81B3D2;
  --special-hover-blue: #669EC0;
  --special-active-blue: #5496BD;
  --special-brown: #766357;
  --special-hover-brown: #604E43;
  --special-active-brown: #503E33;
  --special-for-disabled: #6A6A6A;
  --special-light-gray: #ABABAB;
  --special-light-shadow: rgba(171,171,171, 0.3);
  --special-logo: #231F20;
  --special-active-logo: #BDBBBC;
  --special-shadow-color: rgba(0, 1, 1, 0.2);
}

/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/PTSans.woff") format("woff2"),
       url("../fonts/PTSans.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff") format("woff"),
    url("../fonts/PTSans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-neutral);
}

.page-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--special-shadow-color);
}


/* Header */

.main-header {
  display: grid;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-header-logo {
  justify-self: center;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--special-blue);
}

.site-navigation a:active {
  color: var(--special-active-black);
}

.site-navigation .active {
  color: var(--special-brown);
}

/* Main */

.main-logo {
  position: relative;
  min-height: 509px;
  margin: 0;
  padding: 0;
  background-color: var(--special-brown);
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

.main-logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/bottom-header-bg.svg");
  background-repeat: no-repeat;
}

.main-title-sedona {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

.main-subtitle {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-extra-dark);
  text-align: center;
}

.main-feature-item-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 256px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}

.main-feature-info {
  background-color: var(--special-blue);
}

.main-feature-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.main-feature-image-right {
  min-height: 256px;
  background-color: var(--basic-extra-dark);
  background-image: url("../img/town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.local-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 330px;
  margin: 0;
  list-style: none;
}

.local-feature-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.local-feature-subtitle {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  text-align: center;
}

.local-feature-house {
  background-image: url("../img/icon-house.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
}


.local-feature-food {
  background-image: url("../img/icon-food.svg");
  background-size: 75px 70px;
  background-repeat: no-repeat;
}

.local-feature-gift {
  background-image: url("../img/icon-gift.svg");
  background-size: 64px 77px;
  background-repeat: no-repeat;
}

.main-feature-item-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 256px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}

.main-feature-image-left {
  background-color: var(--basic-extra-dark);
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 330px;
  margin: 0;
  list-style: none;
  background-color: var(--basic-dark);
}

.main-feature-inline-item {
  margin: 0;
  padding: 0;
  background-color: var(--basic-dark);
}

.main-feature-caption {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

/* Search hotel */

.search-results-sort-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-hotel-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

.search-hotel-subtitle {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.search-hotel-button {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-brown);
}

.search-hotel-button:hover {
  background-color: var(--special-hover-brown);
}

.search-hotel-button:active {
  color: var(--special-active-white);
  background-color: var(--special-active-brown);
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 256px;
  background-color: var(--footer-fill);
}

.footer-contacts {
  margin: 0;
}

.footer-tag {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone-link {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social {
  justify-self: center;
}

.footer-social-list {
  list-style: none;
}

.footer-social-item {
  margin: 5px;
  width: 46px;
  height: 48px;
  background-color: var(--special-blue);
}

.footer-social-item:hover {
  background-color: var(--special-hover-blue);
}

.footer-social-item:active {
  background-color: var(--special-active-blue);
}

.footer-social-item:active .social-svg {
  fill: var(--special-active-white);
}

.social-svg {
  fill: var(--basic-white);
  width: 17px;
  height: 17px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-copyright-link:hover .copyright-svg {
  fill: var(--special-blue);
}

.footer-copyright-link:active .copyright-svg {
  fill: var(--special-active-logo);
}


.copyright-svg {
  width: 115px;
  height: 41px;
  fill: var(--basic-black);
}


/* Catalog */

.catalog-search-parameters {
  color: var(--basic-white);
  background-color: var(--special-blue);
  background-image: url("../img/catalog/background.jpg");
  background-repeat: no-repeat;
}

.catalog-form-legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.form-infrastructure-list {
  list-style: none;
}

.form-housing-list {
  list-style: none;
}

.button-show-results {
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.search-results-count {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.search-results-sort-title {
  font-size: 12px;
  color: var(--basic-black);
}

.search-results-sort-list {
  list-style: none;
}

.search-results-sort-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: var(--special-active-black);
  border-bottom: 1px dotted var(--special-blue);
}

.search-results-sort-link:hover {
  cursor: pointer;
  color: var(--special-blue);
}

.search-results-sort-link:active {
  cursor: pointer;
  color: var(--basic-black);
  border: none;
}

.search-results-sort-link .active {
  cursor: pointer;
  color: var(--special-blue);
  border: none;
}

.arrow {
  text-decoration: none;
}

.arrow-svg {
  width: 11px;
  height: 10px;
  fill: var(--special-state-gray);
}

.arrow:hover .arrow-svg {
  fill: var(--basic-black);
}

.arrow:active .arrow-svg {
  fill: var(--special-blue);
}

.arrow-active .arrow-svg {
  fill: var(--special-blue);
}

.catalog-search-results-list {
  list-style: none;
}

.search-results-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.search-results-link:hover {
  color: var(--special-blue);
}

.search-results-link:active {
  color: var(--special-active-black);
}

.button-details {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.button-details:hover {
  background-color: var(--special-hover-blue);
}

.button-details:active {
  color: var(--special-active-white);
  background-color: var(--special-active-blue);
}

.button-reserve {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-brown);
}

.button-reserve:hover {
  background-color: var(--special-hover-brown);
}

.button-reserve:active {
  color: var(--special-active-white);
  background-color: var(--special-active-brown);
}

.stars-list {
  list-style: none;
}

.rating-title {
  width: 110px;
  height: 27px;
  color: var(--special-rating-text);
  background-color: var(--basic-neutral);
}



