/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #EEEEEE;
  --basic-neutral: #F2F2F2;
  --basic-hover-neutral: #EBEBEB;
  --basic-active-border: #E5E5E5;
  --basic-white: #ffffff;
  --footer-fill: rgba(255, 255, 255, 0.9);

  --special-extra-dark: #A9A9A9;
  --special-rating-text: #666666;
  --special-active-black: rgba(0,0,0,0.3);
  --special-state-gray: #cacaca;
  --special-active-white: rgba(255, 255, 255, 0.3);
  --special-blue: #81B3D2;
  --special-hover-blue: #669EC0;
  --special-active-blue: #5496BD;
  --special-brown: #766357;
  --special-hover-brown: #604E43;
  --special-active-brown: #503E33;
  --special-for-disabled: #6A6A6A;
  --special-light-gray: #ABABAB;
  --special-light-shadow: rgba(171,171,171, 0.3);
  --special-logo: #231F20;
  --special-active-logo: #BDBBBC;
  --special-shadow-color: rgba(0, 1, 1, 0.2);
}

/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/PTSans.woff") format("woff2"),
       url("../fonts/PTSans.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff") format("woff"),
    url("../fonts/PTSans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-neutral);
}

.page-container {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--special-shadow-color);
}


/* Header */

.main-header {
  position: relative;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: grid;
  grid-template-columns: 230px 230px 1fr 230px 230px;
  grid-template-areas:
    "li-1 li-2 . li-3 li-4";
  min-height: 56px;
  margin: 0;
  padding: 0 72px;
  list-style: none;
}
.site-navigation li {
  display: flex;
  align-items: center;
}

.site-navigation li {
  grid-area: li-1;
}

.site-navigation li:nth-child(2) {
  grid-area: li-2;
}

.site-navigation li:nth-child(3) {
  grid-area: li-3;
  justify-content: flex-end;
}

.site-navigation li:nth-child(4) {
  grid-area: li-4;
  justify-content: flex-end;
}

.site-navigation a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--special-blue);
}

.site-navigation a:active {
  color: var(--special-active-black);
}

.site-navigation .active {
  color: var(--special-brown);
}

/* Main */

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 509px;
  background-color: var(--special-brown);
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

.main-logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/bottom-header-bg.svg");
  background-repeat: no-repeat;
}

.main-title-sedona {
  margin: 0 auto;
  margin-top: 42.5px;
  margin-bottom: 44.5px;
  padding: 0;
  text-align: center;
  max-width: 470px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);

}

.main-subtitle {
  margin: 0 auto;
  margin-bottom: 51px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-extra-dark);
}

.main-feature-item-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 256px;
  color: var(--basic-white);
}

.main-feature-info {
  display: flex;
  padding: 0 49px;
  flex-direction: column;
  text-align: center;
  background-color: var(--special-blue);
}

.main-feature-title {
  margin: 0;
  margin-top: 47px;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.main-feature-count {
  margin-top: 25px;
  margin-bottom: 23px;
}

.main-feature-subtitle {
  margin: 0;
  padding: 0;
}

.main-feature-image-right {
  min-height: 256px;
  background-color: var(--basic-extra-dark);
  background-image: url("../img/town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.local-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.local-feature-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  padding-bottom: 10px;
  min-height: 160px;
}

.local-feature-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.local-feature-subtitle {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  text-align: center;
}

.local-feature-house::before {
  content: "";
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  position: absolute;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}


.local-feature-food::before {
  content: "";
  left: 50%;
  top: 61px;
  transform: translateX(-50%);
  position: absolute;
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.local-feature-gift::before {
  content: "";
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
  position: absolute;
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.main-feature-item-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 256px;
  color: var(--basic-white);
}

.main-feature-image-left {
  background-color: var(--basic-extra-dark);
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 256px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-dark);
}

.main-feature-inline-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 71px;
  padding-top: 47px;
  background-color: var(--basic-dark);
}

.main-feature-caption {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.search-hotel {
  margin: 0;
  padding: 0;
}

.search-hotel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-hotel-title {
  margin: 0;
  padding: 0;
  margin-top: 58px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-hotel-subtitle {
  margin: 0 auto;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 24px;
}

.search-hotel-button {
  margin: 0 auto;
  padding: 30px 24px;
  font-weight: bold;
  min-width: 520px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-brown);
}

.search-hotel-button:hover {
  background-color: var(--special-hover-brown);
}

.search-hotel-button:active {
  color: var(--special-active-white);
  background-color: var(--special-active-brown);
}

.main-map {
  height: 594px;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 327px 1fr 327px;
  min-height: 120px;
  padding: 0 73px;
  background-color: var(--footer-fill);
}

.main-footer-position {
  width: 1054px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-tag {
  margin-top: 23px;
  margin-bottom: 9px;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-phone-link {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--special-blue);
}

.footer-social-item:not(:last-child) {
  margin-right: 5px;
}

.footer-social-item:hover {
  background-color: var(--special-hover-blue);
}

.footer-social-item:active {
  background-color: var(--special-active-blue);
}

.footer-social-item:active .social-svg {
  fill: var(--special-active-white);
}

.social-svg {
  fill: var(--basic-white);
  width: 17px;
  height: 17px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright-title {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-copyright-link:hover .copyright-svg {
  fill: var(--special-blue);
}

.footer-copyright-link:active .copyright-svg {
  fill: var(--special-active-logo);
}


.copyright-svg {
  width: 115px;
  height: 41px;
  fill: var(--basic-black);
}


/* Catalog */

.catalog-form {
  display: grid;
  grid-template-columns: 254px 274px 1fr;
  /* min-height: 217px; */
  margin: 0;
  padding-top: 26.5px;
  padding-left: 72px;
  padding-right: 73px;
}

.form-infrastructure {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-form-legend {
  margin-bottom: 24px;
}

.catalog-search-parameters {
  color: var(--basic-white);
  background-color: var(--special-blue);
  background-image: url("../img/catalog/background.jpg");
  background-repeat: no-repeat;
}

.catalog-form-legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-list li:not(:last-child) {
  margin-bottom: 25px;
}


.form-list li:last-child {
  margin-bottom: 31px;
}

.form-housing {
  padding: 0;
  margin: 0;
  border: none;
}

.form-housing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-cost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-form-cost-legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.button-show-results {
  margin-right: 95px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.search-results-sort-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  align-items: center;
  min-height: 86px;
  padding: 0 73px;
}

.search-results-count {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.search-results-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-results-sort-title {
  margin-right: 40px;
  margin-left: 46px;
  font-size: 12px;
  color: var(--basic-black);
}

.search-results-sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results-sort-item:not(:last-child) {
  margin-right: 32px;
}

.search-results-sort-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: var(--special-active-black);
  border-bottom: 1px dotted var(--special-blue);
}

.search-results-sort-link:hover {
  color: var(--special-blue);
}

.search-results-sort-link:active {
  color: var(--basic-black);
  border: none;
}

.search-results-sort-link .active {
  color: var(--special-blue);
  border: none;
}

.arrow {
  text-decoration: none;
}

.arrow-svg {
  width: 11px;
  height: 10px;
  fill: var(--special-state-gray);
}

.arrow:hover .arrow-svg {
  fill: var(--basic-black);
}

.arrow:active .arrow-svg {
  fill: var(--special-blue);
}

.arrow-active .arrow-svg {
  fill: var(--special-blue);
}

.catalog-search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-search-results-item {
  display: grid;
  grid-template-columns: 135px 1fr auto;
  padding: 0 73px;
  padding-bottom: 30px;
}

.search-results-img-link {
  display: flex;
  align-items: flex-end;
}

.search-results-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 29px;
}

.search-results-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.search-results-link:hover {
  color: var(--special-blue);
}

.search-results-link:active {
  color: var(--special-active-black);
}

.search-results-link h3 {
  margin: 0;
  padding: 0;
}

.search-results-price {
  display: grid;
  grid-template-columns: 117px 96px;
  justify-items: start;
}

.search-results-buttons {
  display: flex;
}

.button-details {
  margin-right: 6px;
  padding: 3px 16px 3px 17px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.button-details:hover {
  background-color: var(--special-hover-blue);
}

.button-details:active {
  color: var(--special-active-white);
  background-color: var(--special-active-blue);
}

.button-reserve {
  padding: 3px 17px 3px 16px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-brown);
}

.button-reserve:hover {
  background-color: var(--special-hover-brown);
}

.button-reserve:active {
  color: var(--special-active-white);
  background-color: var(--special-active-brown);
}

.search-results-rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.stars-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.star-item {
  position: relative;
  width: 19px;
  height: 17px;
}

.star-item:not(:last-child){
  margin-right: 5px;
}

.star-item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 19px;
  height: 17px;
  background-image: url("../img/catalog/star.svg");
  background-repeat: no-repeat;
}

.rating-title {
  margin: 0;
  padding: 0;
  padding: 3px 12px 3px 15px;
  color: var(--special-rating-text);
  background-color: var(--basic-neutral);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
